.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  .options {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    .option {
      margin-left: 8px;
      text-decoration: none;
      color: #000000;
    }
  }
}